<div class="event-outer-container">
  <div class="play-container">
    <button mat-icon-button color="warn" class="mr-2" (click)="handlePlayVideo()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <div class="text-center mt-1 medium-text">{{soundEvent.time | date: 'medium'}}</div>
  </div>

  <div class="medium-text mt-1">{{soundEvent.soundType}}</div>
  <button mat-icon-button color="warn" (click)="delete.emit(soundEvent.id)">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<app-video-modal
  *ngIf="videoUrl"
  [videoUrl]="videoUrl"
  [event]="soundEvent"
  (close)="closeModal()">
</app-video-modal>
