.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  border-radius: 8px;
  position: relative;

  .event-name {
    font-size: var(--text-medium);
    color: var(--text-color)
  }
}

.close-btn {
  font-weight: bold;
  font-size: var(--text-medium);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #999;
  }
}

video {
  display: block;
  max-width: 100%;
  padding: 0 1rem 1rem 1rem;
  height: auto;
}
