@use "tailwindcss";

:root {
  --background-color: var(--mat-sys-surface);
  --accent-color: var(--mat-sys-primary);
  --accent-surface-color: var(--mat-sys-on-primary);
  --separator-color: var(--mat-sys-outline-variant);
  --darker-background-color: #131414;

  --font-fredoka: "Fredoka", sans-serif;
  --text-color: #ddd;

  --text-small: 14px;
  --text-medium: 16px;
  --text-large: 20px;
  --text-xlarge: 24px;
}

.small-text {
  font-size: var(--text-small)
}

.medium-text {
  font-size: var(--text-medium)
}

.large-text {
  font-size: var(--text-large)
}

.xlarge-text {
  font-size: var(--text-xlarge)
}


.mat-mdc-snack-bar-container.snackbar-error {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: var(--accent-surface-color);
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: var(--accent-surface-color);
  --mdc-snackbar-supporting-text-color: #fff;
}

html, body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
