@use "tailwindcss";

:root {
  --background-color: var(--mat-sys-surface);
  --accent-color: var(--mat-sys-primary);
  --accent-surface-color: var(--mat-sys-on-primary);
  --separator-color: var(--mat-sys-outline-variant);
  --darker-background-color: #131414;

  --font-fredoka: "Fredoka", sans-serif;
  --text-color: #ddd;

  --text-sm: 1.1rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
}

.mat-mdc-snack-bar-container.snackbar-error {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: var(--accent-surface-color);
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: var(--accent-surface-color);
  --mdc-snackbar-supporting-text-color: #fff;
}

html, body {
  height: 100%;
  background-color: var(--background-color);
  font-size: 12px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
